<div class="row">
  <div class="col s12 m8">
    <div class="card">
      <div class="card-image">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="/assets/images/apps/biathlon/s1.png"></a>
          <a class="carousel-item" href="#two!"><img src="/assets/images/apps/biathlon/s2.png"></a>
          <a class="carousel-item" href="#three!"><img src="/assets/images/apps/biathlon/s3.png"></a>
          <a class="carousel-item" href="#four!"><img src="/assets/images/apps/biathlon/s4.png"></a>
          <a class="carousel-item" href="#five!"><img src="/assets/images/apps/biathlon/s7.png"></a>
        </div>

        <span class="card-title blue darken-3">Biathlon 2018</span>
      </div>
      <div class="card-content">
        <p class="gotbook">Die ultimative Nr.1 App fuer alle Biathlon-Fans</p>
      </div>
      <div class="card-action">
        <a href="https://play.google.com/store/apps/details?id=quadriq.com.biathlonapp">Google Play</a>
        <a href="http://biathlonapp.com">Website</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card  blue darken-3">
      <div class="card-content white-text card-sticker">
        <span class="center card-sticker-header">Downloads</span>
        <h2 class="gotbook">150k+</h2>
      </div>
    </div>

    <div class="card  blue darken-3">
      <div class="card-content white-text card-sticker">
        <span class="center card-sticker-header">Av. Rating</span>
        <h2 class="gotbook">4.61</h2>
      </div>
    </div>
  </div>

</div>
