<div class="row">
  <div class="col m6">
    <h4 class=" gotbook">KITup - Karlsruher Institute fuer Technologie</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/assets/images/apps/kit.png" height="300px">
      </div>
      <div class="card-stacked">
        <div class="card-content">
        <li class="collection-item valign-wrapper">
          <i class="material-icons small indigo-text">thumb_up</i>
          <span>
            <h4 class="gotbook">&nbsp;4.32</h4>
          </span>
        </li>
        <li class="collection-item valign-wrapper">
          <i class="material-icons small indigo-text">system_update_alt</i>
          <span>
            <h4 class="gotbook">&nbsp;7200</h4>
          </span>
        </li>
      </div>
    </div>
  </div>
</div>

</div>
