<div class="row">
  <div class="col m6">
    <h4 class=" gotbook">Sochi 2014</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/assets/images/apps/sochi.png" height="300px">
      </div>
      <div class="card-stacked">
        <div class="card-content">
        <li class="collection-item valign-wrapper">
          <i class="material-icons small indigo-text">thumb_up</i>
          <span>
            <h4 class="gotbook">&nbsp;4.45</h4>
          </span>
        </li>
        <li class="collection-item valign-wrapper">
          <i class="material-icons small indigo-text">system_update_alt</i>
          <span>
            <h4 class="gotbook">&nbsp;670.000+</h4>
          </span>
        </li>
      </div>
    </div>
  </div>
</div>

<div class="col m6">
  <h4 class=" gotbook">Rio 2016</h4>
  <div class="card horizontal">
    <div class="card-image">
      <img src="/assets/images/apps/rio.png" height="300px">
    </div>
    <div class="card-stacked">
      <div class="card-content">
      <li class="collection-item valign-wrapper">
        <i class="material-icons small indigo-text">thumb_up</i>
        <span>
          <h4 class="gotbook">&nbsp;4.22</h4>
        </span>
      </li>
      <li class="collection-item valign-wrapper">
        <i class="material-icons small indigo-text">system_update_alt</i>
        <span>
          <h4 class="gotbook">&nbsp;380.000+</h4>
        </span>
      </li>
    </div>

  </div>
</div>
</div>

<div class="col m6">
  <h4 class=" gotbook">Football WM 2014</h4>
  <div class="card horizontal">
    <div class="card-image">
      <img src="/assets/images/apps/wm2014.jpg" height="300px">
    </div>
    <div class="card-stacked">
      <div class="card-content">
      <li class="collection-item valign-wrapper">
        <i class="material-icons small indigo-text">thumb_up</i>
        <span>
          <h4 class="gotbook">&nbsp;4.49</h4>
        </span>
      </li>
      <li class="collection-item valign-wrapper">
        <i class="material-icons small indigo-text">system_update_alt</i>
        <span>
          <h4 class="gotbook">&nbsp;193.000+</h4>
        </span>
      </li>
    </div>
  </div>
</div>
</div>

</div>
