---
layout: default
title: Quadriq Apps
navigation_weight: 1
permalink: /apps
---
<div class="section">
  <div class="container">

  <li class="collection-item valign-wrapper">
    <i class="material-icons iconsm green-text">dashboard</i>
    <span>
      <h1 class="gotbook green-text">&nbsp;Android Apps-Entwicklung</h1>
    </span>
  </li>
  <p>Eins unterscheidet uns von vielen App-Entwicklungsagenturen
     - wir entwickeln und vermarkten unsere eigenen Andorid Apps. Wir wissen wie man Nutzer gewinnt,
     wie man die Apps erfolgreich vermarktet und zum Erfolg bringt.
     Über 1.000.000 Nutzer weltweit konnten wir bischer mit unseren Apps begeistern.
     Deswegen haben wir ein "outstanding experience" was die Apps-Entwicklung angeht.</p>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <img src="/assets/images/apps/flagship.png"/>
    </div>
    <div class="col">
      <h2 class="nomargin gotbook blue-grey-text">Unsere Flagschiffs</h2>
      <p>Diese Apps werden zur Zeit aktiv entwickelt und vermarktet.</p>
    </div>
  </div>
  {% include apps/biathlon.html %}
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <img src="/assets/images/apps/cargoship.png" height="50px"/>
    </div>
    <div class="col">
      <h2 class="nomargin gotbook blue-grey-text">Schwertransporter</h2>
    </div>
  </div>
  <p>Apps, die die meisten Downloads erreichen konnten und eine Zeit lang - top aktuell waren. Die "Sochi 2014"-App erreichte sogar den 2. Platz im internationalen google-top.</p>
  {% include apps/olympic-2014.html %}

  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <img src="/assets/images/apps/sailingboat.png" height="50px"/>
    </div>
    <div class="col">
      <h2 class="nomargin gotbook blue-grey-text">Kleine Schiffchen</h2>
    </div>
  </div>

  {% include apps/kitup_and_co.html %}

</div>
</div>
