<head>
    <meta charset="utf-8">
    <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Android, Apps, Web, Websites, Appsentwicklung, Appentwicklung, Webentwicklung, Entwicklung, Development" />

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ site.title }}"/>
    {% else %}
    <title>Quadriq - Application Development</title>
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.title }}">
    {% endif %}

    <link rel="icon" href="{{ site.baseurl}}/assets/images/logo.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/highlighter.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">


    {% seo %}
    
    <script src='https://www.google.com/recaptcha/api.js'></script>


</head>
