<div class="navbar-fixed">
  <nav id="xnav" class="z-depth-1 main big">
    <div class="container container-large">
      <div class="nav-wrapper">
        <a class="hide-on-med-and-down">
          <img src="{{ site.baseurl}}/assets/images/logo.png" class="header_img"></a>
        <a href="/" class="brand-logo">
          Quadriq
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          {% if page.url == "/services" %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="/services">Kompetenz</a>
          </li>
          {% if page.url == "/apps" %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="/apps">Quadriq Apps</a>
          </li>
          {% if page.url == "/apps" %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="/traing">Training</a>
          </li>
          {% if page.url == "/blog" %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="/blog">Blog</a>
          </li>
          {% if page.url == "/contact" %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="/contact">Kontakt</a>
          </li>
        </ul>
        <ul class="side-nav" id="nav-mobile">

          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/services">Kompetenz</a>
          </li>

          <li>
            <a href="/apps">Quadriq Apps</a>
          </li>

          <li>
            <a href="/blog">Blog</a>
          </li>

          <li>
            <a href="/contact">Kontakt</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>

{% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}

{% if page.url == "/" %}
<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <!-- <div class="intro-lead-in">Herzlich Willkommen auf quadriq.com</div>
      <br/>
      <div class="intro-heading"></div>
      <a href="/about" class="page-scroll btn btn-xl" data-scroll>Projekte</a> -->
    </div>
  </div>
</header>

{% endif %}
